{% extends "public/templates/public_template.html" %} {% block title %} Helsinki
Gymkhana CC {% endblock %} {% block main %}

<img
  class="main-img"
  id="image"
  src="{{ url_for('static', filename='img/mainimages/mainfront2.jpg') }}"
  alt="image"
/>

<!------ Flash message --------->
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}

<!---------------- Join Us ------------->

<section id="scoial_media">
  
  <div class="container scoial_media" style="overflow: hidden">
    
   <center>
     <a
     href="https://www.facebook.com/groups/helsinkigymkhanacricketclub"
     target="blank"
     aria-label="Facebook"
   >
     <i class="social-icon fab fa-facebook-f fa-lg my-5 me-3"></i>
   </a>
   <i class="social-icon fab fa-twitter fa-lg my-5 me-3 "></i>
   <a 
     href="http://www.instagram.com/helsinkigymkhana"
     aria-label="Instagram" target="blank"
     ><i class="social-icon fab fa-instagram  me-3 fa-lg my-5 me-3 "></i></i
   ></a>
   
   <a href="/contact"  target= "blank" aria-label="email"><i class="social-icon fas fa-envelope fa-lg my-5 me-3"></i></a>
  </center>
   </div> 
  
   
</section>


<!---- categories------->
<div class="container categories">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="card my-4 mx-3" id="about-card">
        <a href="{{ url_for('main.about') }}" aria-label="about us">
          <img
            class="category-img"
            src="{{ url_for('static', filename='img/mainimages/aboutusmain1.jpg') }}"
            class="card-img-top"
            alt="image"
          />
        </a>

        <div class="card-body">
          <a href="{{ url_for('main.about') }}" aria-label="about us"
            ><h5 class="card-title">About Us</h5></a
          >
          <p class="card-text">
            Helsinki Gymkhana Cricket Club ry is officially registered with Finnish Cricket Association (FCA).
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="card my-4 mx-3" id="members-card">
        <a href="{{ url_for('main.members') }}" aria-label="About club memmbers">
          <img
            class="category-img"
            src="{{ url_for('static', filename='img/mainimages/club1.jpg') }}"
            class="card-img-top"
            alt="image"
          />
        </a>

        <div class="card-body">
          <a href="{{ url_for('main.members') }}" aria-label="Club members"
            ><h5 class="card-title">Club Members</h5></a
          >
          <p class="card-text">
            Helsinki Gymkhana Cricket Club ry is officially registered with Finnish Cricket Association (FCA)
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="card my-4 mx-3" id="crichq-card">
        <a href="https://www.crichq.com" aria-label="Crichq" target="_blank" rel="noopener">
          <img
            class="category-img"
            src="{{ url_for('static', filename='img/mainimages/crichq2.jpg') }}"
            class="card-img-top"
            alt="image"
          />
        </a>

        <div class="card-body">
          <a href="https://www.crichq.com" aria-label="crichq" target="_blank" rel="noopener"
            ><h5 class="card-title">CricHQ</h5></a
          >
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="card my-4 mx-3" id="acheivements-card">
        <a href="{{ url_for('main.acheievments') }}" aria-label="acheiments" >
          <img
            class="category-img"
            src="{{ url_for('static', filename='img/mainimages/acheivements3.jpg') }}"
            class="card-img-top"
            alt="image"
          />
        </a>

        <div class="card-body">
          <a href="{{ url_for('main.acheievments') }}" aria-label="about us" target=""
            ><h5 class="card-title">Acheivements</h5></a
          >
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="card my-4 mx-3" id="gallary-card">
        <a href="{{ url_for('main.gallary') }}" aria-label="Gallary" target="">
          <img
            class="category-img"
            src="{{ url_for('static', filename='img/mainimages/main-img1.jpg') }}"
            class="card-img-top"
            alt="image"
          />
        </a>

        <div class="card-body">
          <a href="{{ url_for('main.gallary') }}" aria-label="about us" target=""
            ><h5 class="card-title">Gallary</h5></a
          >
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="card my-4 mx-3" id="cricketfinland-card">
        <a
          href="https://cricketfinland.com"
          aria-label="circket-finland"
          target="_blank" rel="noopener"
        >
          <img
            class="category-img"
            src="{{ url_for('static', filename='img/mainimages/cricketfinland-logo.png') }}"
            class="card-img-top"
            alt="image"
          />
        </a>

        <div class="card-body">
          <a
            href="https://cricketfinland.com" rel="noopener"
            aria-label="about us"
            target="_blank"
            ><h5 class="card-title">Cricket Finland</h5></a
          >
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!----- News and event ------>
<section id="updates">
  <h2>Updates</h2>
  <div class="container" id="news-events">
    {% for update in updates %}
    <div class="testimonial-box">
      <a
        href="{{ url_for('public.detail_updates', update_id=update.id)  }}"
        aria-label="details"
      >
        <h4>{{ update.title }}</h4></a
      >

      <p style="text-align: justify">
        {{ update.content }}..<a
          href="{{ url_for('public.detail_updates', update_id=update.id)  }}"
        >
          <small style="color: rgb(221, 160, 30)"> Read more</small></a
        >
      </p>
      <small class="text-muted"
        >Posted on: {{ update.date_posted.strftime('%Y-%m-%d') }}</small
      >
    </div>
    {% endfor %}
  </div>
  <center>
    <a href="{{ url_for('public.updates')  }}">
      <button class="btn btn-success " style="margin-bottom: 4rem; border-radius: 50px;">Explore All Updates</button>
    </a>
  </center>
</section>




{% endblock %}

