{% extends "public/templates/public_template.html" %} {% block title %} Helsinki
Gymkhana CC {% endblock %} {% block main %}

<img
  class="main-img"
  id="image"
  src="{{ url_for('static', filename='img/main-img4.jpg') }}"
  alt="image"
/>

<!---- categories------->

<div class="container categories">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="card" id="about-card">
        <a href="/about" aria-label="about us">
          <img
            class="category-img"
            src="{{ url_for('static', filename='img/about.jpg') }}"
            class="card-img-top"
            alt="image"
          />
        </a>

        <div class="card-body">
          <a href="/about" aria-label="about us"
            ><h5 class="card-title">About Us</h5></a
          >
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="card" id="members-card">
        <a href="#" aria-label="About club memmbers">
          <img
            class="category-img"
            src="{{ url_for('static', filename='img/main-img2.jpg') }}"
            class="card-img-top"
            alt="image"
          />
        </a>

        <div class="card-body">
          <a href="/club-members" aria-label="Club members" 
            ><h5 class="card-title">Club Members</h5></a
          >
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="card" id="crichq-card">
        <a href="https://www.crichq.com" aria-label="Crichq" target="blank">
          <img
            class="category-img"
            src="{{ url_for('static', filename='img/crichq.jpg') }}"
            class="card-img-top"
            alt="image"
          />
        </a>

        <div class="card-body">
          <a href="https://www.crichq.com" aria-label="about us" target="blank"
            ><h5 class="card-title">CricHQ</h5></a
          >
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>


        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card" id="acheivements-card">
            <a href="https://www.crichq.com" aria-label="Crichq" target="">
              <img
                class="category-img"
                src="{{ url_for('static', filename='img/acheivements3.jpg') }}"
                class="card-img-top"
                alt="image"
              />
            </a>

            <div class="card-body">
              <a
                href="/acheivements"
                aria-label="about us"
                target=""
                ><h5 class="card-title">Acheivements</h5></a
              >
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card" id="gallary-card">
            <a href="https://www.crichq.com" aria-label="Gallary" target="">
              <img
                class="category-img"
                src="{{ url_for('static', filename='img/main-img1.jpg') }}"
                class="card-img-top"
                alt="image"
              />
            </a>

            <div class="card-body">
              <a
                href="/gallary"
                aria-label="about us"
                target=""
                ><h5 class="card-title">Gallary</h5></a
              >
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card" id="cricketfinland-card">
            <a href="https://cricketfinland.com" aria-label="circket-finland" target="blank">
              <img
                class="category-img"
                src="{{ url_for('static', filename='img/cricketfinland-logo.png') }}"
                class="card-img-top"
                alt="image"
              />
            </a>

            <div class="card-body">
              <a
                href="https://cricketfinland.com"
                aria-label="about us"
                target="blank"
                ><h5 class="card-title">Cricket Finland</h5></a
              >
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!----- News and event ------>
    <section id="updates">
    <h2>Updates</h2>
    <div class="container" id="news-events">
     
      <div class="testimonial-box">
        <i class="fas fa-quote-left">Title</i>
        <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, eum expedita. Nam quaerat.
        </p>
        <img src="" alt="image">
        <p class="name">Zyx Frx</p>
      </div>
     
      <div class="testimonial-box">
        <i class="fas fa-quote-left"></i>
        <p>
          I've been working with these guys for a long time and I can say that my business is in perfect hands.
        </p>
        <img src="" alt="image">
        <p class="name">Akpareva Zino</p>
      </div>
      <div class="testimonial-box">
        <i class="fas fa-quote-left"></i>
        <p>
          I've been working with these guys for a long time and I can say that my business is in perfect hands.
        </p>
        <img src="" alt="image">
        <p class="name">Akpareva Zino</p>
      </div>
      
    

    </div>
  </section>

   <!----- CTA ------->
   <section id="press">
     <div class="CTA"><img class="press-logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="image">
      <img class="press-logo" src="{{ url_for('static', filename='img/fafas.png') }}" alt="image">
      <img class="press-logo" src="{{ url_for('static', filename='img/cricketfinland-logo.png') }}" alt="biz-insider-logo">
      <img class="press-logo" src="{{ url_for('static', filename='img/crickhq.png') }}" alt="mashable-logo">
  </div>
    
  </section>

    {% endblock %}
    <!---- 
  <script type="text/javascript">
  let image = document.getElementById(image);
  let images = [
    "{{ url_for('static', filename='img/main-img1.jpg') }}",
    "{{ url_for('static', filename='img/main-img2.jpg') }}",
  ];
  setInterval(function () {
    let random = Math.floor(Math.random() * 2);
    image.src = images[random];
  }, 800);
</script>----->
  </div>
</div>
