{% extends "public/templates/public_template.html" %} {% block title %} Updates
details - Helsinki Gymkhana {% endblock %} {% block main %}
<section>
  <div class="container update">
    <!-----Flash message--->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
    <div
      class="card mb-3"
      style="max-width: 800px; margin-left: auto; margin-right: auto"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{ url_for('static', filename='img/profileimg/' + update.author.image_file) }}"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{update.title}}</h5>
            <p class="card-text">{{update.content}}</p>
            <p class="card-text">
              <small class="text-muted" style="margin-right: 20px"
                >posted by: {{update.author.name}}</small
              >
              <small class="text-muted"
                >posted on: {{ update.date_posted.strftime('%Y-%m-%d')}}</small
              >
            </p>
            {% if current_user.admin== True %}
            <a
              href="{{ url_for('public.edit', update_id=update.id) }}"
              arial
              aria-label="edit update"
            >
              <button class="btn btn-dark mr-5" arial_label="logout">
                Edit
              </button>
            </a>
            <a
              href="{{ url_for('public.delete', update_id=update.id) }}"
              arial
              aria-label="delete_update"
            >
              <button class="btn btn-danger" arial_label="logout">
                Delete
              </button>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
