{% extends "public/templates/public_template.html" %} {% block title %} Updates
- Helsinki Gymkhana {% endblock %} {% block main %}
<section>
  <div class="container update">
    <!-----Flash message--->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
    <!-- Media object -->

    <!-------Updates by using pagination ----->
    {% for update in updates.items %}
    <!-- <div class="d-flex">
      
      <img
        src="{{ url_for('static', filename='img/profileimg/' + update.author.image_file) }}"
        alt="image"
        class="me-3 rounded-circle media-object-img"
      />
     
      <div>
        <h6 class="fw-bold">
          {{ update.author.name }}
          <small class="text-muted"
            >{{ update.date_posted.strftime('%Y-%m-%d') }}</small
          >
        </h6>
        <h5 class="text-muted">{{ update.title }}</h5>
        <p>{{ update.content }}</p>
      </div>
    </div> -->

    <div
      class="card mb-3"
      style="max-width: 800px; margin-left: auto; margin-right: auto"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{ url_for('static', filename='img/profileimg/' + update.author.image_file) }}"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a
              href="{{ url_for('public.detail_updates', update_id=update.id)  }}"
              ><h5 class="card-title">{{ update.title }}</h5></a
            >
            <p class="card-text">{{ update.content }}</p>
            <p class="card-text">
              <small class="text-muted me-3"
                >posted by: {{ update.author.name }}</small
              >
              <small class="text-muted"
                >posted on: {{ update.date_posted.strftime('%Y-%m-%d') }}</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
    <center>
      <!----- For link to othere pages------>
      {% for page_num in updates.iter_pages(left_edge=1, right_edge=1,
      left_current=1, right_current=2) %}
      <!---- iter page methodes -->
      {% if page_num %} {% if updates.page == page_num %}
      <!--- For current page look diffrently --->
      <a
        class="btn btn-info mb-4"
        href="{{ url_for('public.updates', page=page_num) }}"
        aria-label="link for next pages"
        >{{ page_num }}</a
      >
      {% else %}
      <a
        class="btn btn-outline-info mb-4"
        href="{{ url_for('public.updates', page=page_num) }}"
        aria-label="link for next pages"
        >{{ page_num }}</a
      >
      {% endif %} {% else %} ... {% endif %} {% endfor %}
    </center>
  </div>
</section>
{% endblock %}
