/* VARIABLES */
:root {
  --color-primary: orangered;
  --color-secondary: green;
  --color-text: #6d7c90;
  --white: #fff;
  --grey: #eee;
  --light-grey: #f3f4f6;
  --dark: #333;
  --brown: rgba(104, 50, 5, 1);
  --purple: rgba(80, 3, 71, 1);
  --box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.11);
}

/* GLOBAL STYLES */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #2b2b2b;
}
i {
  color: #2b2b2b;
}
/*section {
  margin-top: 110px;
}*/

/** Navbar **/
.navbar {
  background: linear-gradient(
    rgba(230, 230, 230, 0.9),
    rgba(230, 230, 230, 0.9)
  );
  color: #2b2b2b;
  line-height: 1.7;
  border-bottom: 1px solid #e6e6e6;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}
nav li a:hover:not(.active) {
  background-color: rgb(221, 197, 154);
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/** Home **/
.main-img {
  width: 100%;
  height: 650px;
  z-index: -1;
}

/* scoial media */
.social_media {
  padding: 15px;

  background: #fff;
  margin-top: 20px;
}

/*** Categories ***/
.categories {
  margin: 1rem auto 4rem auto;
}
.category-img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}
.card {
  margin-bottom: 20px;
}
#about-card {
  border: none;
}
#members-card {
  border: none;
}
#crichq-card {
  border: none;
}
#acheivements-card {
  border: none;
}
#gallary-card {
  border: none;
}
#cricketfinland-card {
  border: none;
}

/*** News & Events ***/
#updates h2 {
  color: orange;
  margin-bottom: 4rem;
  margin-left: 100px;
}
#news-events {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.testimonial-box {
  width: 400px;
  min-height: 300px;
  margin: 1rem;
  background-color: var(--white);
  text-align: center;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transform: translateY(0);
  transition: all 0.3s;
}

.testimonial-box:hover {
  background-color: var(--light-grey);
  transform: translateY(-1rem);
}

.testimonial p {
  font-size: 1.4rem;
  margin: 1rem;
}

/**** CTA ***/
.CTA {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sub_cta {
  margin: 1rem;
}
.press-logo {
  max-width: 30%;
  margin: auto 50px;
}
#press {
  padding: 3%;
  background: #f3e7d8;
}

/******************************* About ********************************/
.about_div {
  margin: 4rem;
  text-align: justify;
  overflow: hidden;
}

#boxes {
  margin-top: 20px;
}
.coloured {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

#boxes .box {
  float: left;

  width: 30%;
  padding: 10px;
}

#boxes .box img {
  width: 90px;
}

/* Sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}

article#main-col {
  float: left;
  width: 65%;
}
.main-imgforsubpages {
  width: 100%;
  height: 500px;
}

/***************** Members ************************/
.members {
  margin: 11rem auto 4rem auto;
}

/********************************* Updates ********/
.update {
  margin: 11rem auto 3rem auto;
}
.media-object-img {
  width: 60px;
  height: 60px;
}

/********************************** Contact **********/
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 9rem auto 2rem auto;
}
.contact-us {
  width: 50%;
  margin: 3rem;
  text-align: justify;
}
#address {
  align-items: stretch;
}

/***************** Updstes **************************/
.create_update {
  margin: 11rem auto 4rem auto;
}

/********************************* User Account *****/

.user_account {
  margin: 11rem auto 4rem auto;
}
.card-prof {
  width: 700px;
  cursor: pointer;
  transition: all 0.5s;
  margin: 5rem auto 0 auto;
  border: none;
}
@media screen and (max-width: 768px) {
  .card-prof {
    max-width: 100%;
  }
}
#card-div {
  border: none;
}

.image .imgpro {
  transition: all 0.5s;
}

.card2:hover .image img {
  transform: scale(1.5);
}
#prof-content {
  width: 100%;
  background: rgba(243, 243, 245, 0.4);
  padding: 2rem;
  border-bottom: 3px solid purple;
}

.probtn {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.name {
  font-size: 22px;
  font-weight: bold;
}

.idd {
  font-size: 14px;
  font-weight: 600;
}

.idd1 {
  font-size: 12px;
}

.number {
  font-size: 22px;
  font-weight: bold;
}

.follow {
  font-size: 12px;
  font-weight: 500;
  color: #444444;
}

.btn1 {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #000;
  color: #aeaeae;
  font-size: 15px;
  margin: 5px;
}

.text span {
  font-size: 13px;
  color: #545454;
  font-weight: 500;
}

.icons i {
  font-size: 19px;
}

hr .new1 {
  border: 1px solid;
}

.join {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: bold;
  padding: 2rem auto;
}

.date {
  background: rgb(230, 236, 236);
  padding: 1rem auto;
  width: auto;
}
#card-update {
  border: none;
  margin-top: 0;
}

/********************************** Registration Section ****/
.Big-form,
.div-center {
  width: 100%;
  height: 100%;
}
.div-center {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;
  margin: 11rem auto 4rem auto;
}

.form-block {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(174, 175, 197, 0.2);
  padding: 40px 55px 45px 55px;
  transition: all 0.3s;
  border-radius: 20px;
}

.div-center .form-control:focus {
  border-color: #ffa825;
  box-shadow: none;
}

.div-center h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

label {
  font-weight: 500;
  margin: 5px auto;
}
.register-bttn {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: orange;
  color: inherit;

  cursor: pointer;
  margin-top: 2rem;
  color: #fff;
  border: none;
}

/************************************ User Login Section****/
#login-section {
  margin-top: 110px;
}
.form-check {
  margin-top: 15px;
  margin-bottom: 0;
}

/******************************** Rules & Regulations*******/
.rules {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rules-regulations {
  margin: 1rem;
  text-align: justify;
}

/***************************************** Acheivements ****/
.Acheivements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.acheivement {
  margin: 3rem;
  text-align: justify;
}
.acheivement-img {
  max-width: 600px;
  height: 350px;
}

/************************************** Error Section *********/
#error-section {
  margin-top: 110px;
}
.error-div {
  margin: 11rem auto 4rem auto;
}

/***************************************** Footer Section  **/
#footer {
  text-align: center;
  background: #fff;
  height: 20vh;
  border-top: 1px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icon {
  margin: 20px 10px;
}

/**** Quiries ***/
@media screen and (max-width: 1024px) {
  .about {
    flex-direction: column;
  }
  .about-us-img {
    width: 100%;
    margin: auto;
  }
  .Acheivements {
    flex-direction: column;
  }
  .contact {
    flex-direction: column-reverse;
  }
  .contact-us {
    width: 100%;
  }
  .acheivement-img {
    width: 100%;
    margin: auto;
  }
  #news-events {
    flex-direction: column;
  }
}

/******* Tablet Quiries *********/
@media screen and (max-width: 769px) {
  #news-events {
    flex-direction: column;
  }
  .about {
    flex-direction: column;
  }
  .rules {
    flex-direction: column;
  }
  .category-img {
    height: 45vh;
  }

  .CTA {
    flex-direction: column;
  }

  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }
}

/********* Mobile Queries **********/
@media screen and (max-width: 560px) {
  #news-events {
    flex-direction: column;
  }
  .main-img {
    height: 500px;
  }
  .press-logo {
    max-width: 30%;
    margin: auto 10px;
  }
}
