{% extends "public/templates/public_template.html" %} {% block title %} About Us
{% endblock %}
<section id="main">
  {% block main %}
  <img
    class="main-imgforsubpages"
    src="{{ url_for('static', filename='img/mainimages/mainfront1.jpg') }}"
    alt="image"
  />

  <section id="about">
    <div class="container about_div">
      <article id="main-col">
        <h1 class="page-title">About Us</h1>
        <p>
          Helsinki Gymkhana Cricket Club ry is officially registered with
          Finnish Cricket Association (FCA) known in Finnish as Suomen
          krikettiliiton and Finnish Patentti ja Rekisterihallitus (PRH).
          Registration number is 209.205. Helsinki Gymkhana Cricket Club ry was
          founded on 21.12.2012. Hgymkhana cc Helsinki based cricket club. The
          main objective of Hgymkhanaclub ry is to play and promote good quality
          and friendly cricket in Finalnd. To achieve this objective management
          is motivated to coordinate with Finland Cricket Association, VALO and
          other cricket clubs in Finland. We welcome people from all
          nationalities, back grounds and cultures without any discramination.
        </p>
        <p class="coloured">
          WELCOME!   Cricket is in our blood. Feel the same? Come and see us in
          action. Or try out and play with us!   Mission Statement: ​ To provide
          the opportunity for all people, regardless of Age, Race, Religion,
          Gender, Culture, Disabilities, or Background to play quality cricket
          in a friendly environment in the true spirit of the game. ​ HGCC
          became champions of Finnish Premier League 2020 and One Day Cup 2020
          both, its really great achievement and honour for all members.
        </p>
      </article>

      <aside id="sidebar">
        <div class="coloured" style="background: rgb(221, 160, 30)">
          <h3>Why to Join Us</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum.
            Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget
            porta in, lacinia et magna
          </p>
        </div>
      </aside>
    </div>
  </section>
</section>
{% endblock %}
