{% extends "public/templates/public_template.html" %} {% block title %} About Us
{% endblock %}
<section id="main">
  {% block main %}
  <img
    class="main-imgforsubpages"
    src="{{ url_for('static', filename='img/main-img3.jpg') }}"
    alt="image"
  />
  <div class="container about my-4">
    <div class="about-us">
      <h3>History</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quia
        quod non ad nihil fugiat dicta! Enim quasi provident consequuntur rerum
        velit. Sunt sequi doloremque molestiae illum, illo pariatur accusantium.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quia
        quod non ad nihil fugiat dicta! Enim quasi provident consequuntur rerum
        velit. Sunt sequi doloremque molestiae illum, illo pariatur accusantium.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quia
        quod non ad nihil fugiat dicta! Enim quasi provident consequuntur rerum
        velit. Sunt sequi doloremque molestiae illum, illo pariatur accusantium.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quia
        quod non ad nihil fugiat dicta! Enim quasi provident consequuntur rerum
        velit. Sunt sequi doloremque molestiae illum, illo pariatur accusantium.
      </p>
      <h3>Why to Join Gymkhana?</h3>
      <hr />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quia
        quod non ad nihil fugiat dicta! Enim quasi provident consequuntur rerum
        velit. Sunt sequi doloremque molestiae illum, illo pariatur accusantium.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quia
        quod non ad nihil fugiat dicta! Enim quasi provident consequuntur rerum
        velit. Sunt sequi doloremque molestiae illum, illo pariatur accusantium.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quia
        quod non ad nihil fugiat dicta! Enim quasi provident consequuntur rerum
        velit. Sunt sequi doloremque molestiae illum, illo pariatur accusantium.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quia
        quod non ad nihil fugiat dicta! Enim quasi provident consequuntur rerum
        velit. Sunt sequi doloremque molestiae illum, illo pariatur accusantium.
      </p>
    </div>
    <div class="about-us">
      <h3>Vision</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quia
        quod non ad nihil fugiat dicta! Enim quasi provident consequuntur rerum
        velit. Sunt sequi doloremque molestiae illum, illo pariatur accusantium.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quia
        quod non ad nihil fugiat dicta! Enim quasi provident consequuntur rerum
        velit. Sunt sequi doloremque molestiae illum, illo pariatur accusantium.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quia
        quod non ad nihil fugiat dicta! Enim quasi provident consequuntur rerum
        velit. Sunt sequi doloremque molestiae illum, illo pariatur accusantium.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quia
        quod non ad nihil fugiat dicta! Enim quasi provident consequuntur rerum
        velit. Sunt sequi doloremque molestiae illum, illo pariatur accusantium.
      </p>
      <img
        class="about-us-img"
        src="{{ url_for('static', filename='img/about1.jpg') }}"
        alt="image"
      />
    </div>
  </div>
  {% endblock %}
</section>
