{% extends "public/templates/public_template.html" %} {% block title %}
Acheivements {% endblock %} {% block main %}
<img
  class="main-imgforsubpages"
  src="{{ url_for('static', filename='img/mainimages/main-img1.jpg') }}"
  alt="image"
/>
<div class="container Acheivements my-4">
  <div class="acheivement">
    <h2>T20 Finish Premier League</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae odit
      odio exercitationem excepturi maiores omnis vel reprehenderit! Rem
      officiis adipisci modi ea mollitia est officia voluptatum laborum
      laudantium, animi alias?
    </p>
    <h3>Winner T20 finish Premier League 2020</h3>
    <hr />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius autem
      veritatis officiis sapiente quis ratione, ipsum placeat reprehenderit iure
      deleniti accusantium iste facilis quibusdam totam, magnam, qui libero
      voluptatem unde!
    </p>
    <h3>Winner SM40 OneDay Cup 2020</h3>
    <hr />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet mollitia
      minima, consequuntur at doloribus magnam ex excepturi, voluptatum quam
      exercitationem aliquam eos, deleniti odit expedita laborum voluptates
      animi repudiandae delectus.
    </p>
  </div>
  <div class="acheivement">
    <img
      class="acheivement-img"
      src="{{ url_for('static', filename='img/mainimages/main-img1.jpg') }}"
      alt="image"
    />
    <img
      class="acheivement-img"
      src="{{ url_for('static', filename='img/mainimages/main-img2.jpg') }}"
      alt="image"
    />
  </div>
</div>
{% endblock %}
