{% extends "public/templates/public_template.html" %} {% block title %}
Acheivements {% endblock %} {% block main %}
<img
  class="main-imgforsubpages"
  src="{{ url_for('static', filename='img/mainimages/main-img1.jpg') }}"
  alt="image"
/>
<div class="container Acheivements my-4">
  <div class="acheivement">
    <div class="coloured" style="background: rgb(221, 160, 30)">
      <h3>FPL 2020, Champion</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius
        auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra
        tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et
        magna
      </p>
    </div>
    <div class="coloured" style="background: #35424a">
      <h3>SM-40 2020, Champion</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius
        auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra
        tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et
        magna
      </p>
    </div>
    <div class="coloured" style="background: rgb(221, 160, 30)">
      <h3>FPL 2021, Finished at 4</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius
        auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra
        tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et
        magna
      </p>
    </div>
  </div>
  <div class="acheivement">
    <figure>
      <img
        class="acheivement-img"
        src="{{ url_for('static', filename='img/mainimages/main-img1.jpg') }}"
        alt="image"
      />
      <figcaption>
        Group Photo: Finish Premier Leagure 2020, Winning moements.
      </figcaption>
    </figure>
    <figure>
      <img
        class="acheivement-img"
        src="{{ url_for('static', filename='img/mainimages/main-img2.jpg') }}"
        alt="image"
      />
      <figcaption>Group Photo: SM-40 Oneday 2020, Winning moements.</figcaption>
    </figure>
  </div>
</div>
{% endblock %}
