{% extends "public/templates/public_template.html" %} {% block title %} User
Password Reset {% endblock %} {% block main %}
<section id="pssword-section">
  <div class="Big-form">
    <div class="div-center">
      <div class="form-block">
        <form method="post" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <legend>Resset Password</legend>

            <div class="form-group">
              {{ form.new_password.label(class= "form-control-label")}} {{
              form.new_password(class= "form-control form-control-lg")}}
            </div>
            <div class="form-group">
              {{ form.re_password.label(class= "form-control-label")}} {{
              form.re_password(class= "form-control form-control-lg")}}
            </div>

            <div class="form-group">
              {{ form.submit(class= "register-bttn")}}
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
