{% extends "public/templates/public_template.html" %} {% block title %} Rules
and Regulations {% endblock %} {% block main %}
<img
  class="main-imgforsubpages"
  src="{{ url_for('static', filename='img/rules1.jpg') }}"
  alt="Image"
/>
<div class="container rules my-4">
  <div class="rules-regulations">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nisi enim
      voluptatem iure maxime repellendus, aperiam, aspernatur eum ducimus
      molestias reprehenderit quis earum vitae, quisquam commodi sed.
      Consectetur, corrupti ab.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nisi enim
      voluptatem iure maxime repellendus, aperiam, aspernatur eum ducimus
      molestias reprehenderit quis earum vitae, quisquam commodi sed.
      Consectetur, corrupti ab.
    </p>
  </div>
  <div class="rules-regulations">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nisi enim
      voluptatem iure maxime repellendus, aperiam, aspernatur eum ducimus
      molestias reprehenderit quis earum vitae, quisquam commodi sed.
      Consectetur, corrupti ab.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nisi enim
      voluptatem iure maxime repellendus, aperiam, aspernatur eum ducimus
      molestias reprehenderit quis earum vitae, quisquam commodi sed.
      Consectetur, corrupti ab.
    </p>
  </div>
</div>
{% endblock %}
