{% extends "public/templates/public_template.html" %} {% block title %} Updates
- Helsinki Gymkhana {% endblock %} {% block main %}
<section>
  <div class="container update">
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img
        src="https://mdbootstrap.com/img/new/avatars/2.jpg"
        alt="John Doe"
        class="me-3 rounded-circle media-object-img"
      />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          John Doe
          <small class="text-muted">Posted on February 19, 2021</small>
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <!-- Media object -->
  </div>
</section>
{% endblock %}
