{% extends "public/templates/public_template.html" %} {% block title %} Updates
- Helsinki Gymkhana {% endblock %} {% block main %}
<section>
  <div class="container update">
    <!-- Media object -->
    {% for update in updates %}
    <div class="d-flex">
      <!-- Image -->
      <img
        src="{{ url_for('static', filename='img/profileimg/' + update.author.image_file) }}"
        alt="image"
        class="me-3 rounded-circle media-object-img"
      />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          {{ update.author.name }}
          <small class="text-muted"
            >{{ update.date_posted.strftime('%Y-%m-%d') }}</small
          >
        </h5>
        <h6 class="text-muted">{{ update.title }}</h6>
        <p>{{ update.content }}</p>
      </div>
    </div>
    
    <!-- Media object -->
    {% endfor %}
  </div>
</section>
{% endblock %}
