{% extends "public/templates/public_template.html" %} {% block title %} Updates
- Helsinki Gymkhana {% endblock %} {% block main %}
<section>
  <div class="container update">
    <!-- Media object -->

    <!-------Updates by using pagination ----->
    {% for update in updates.items %}
    <div class="d-flex">
      <!-- Image -->
      <img
        src="{{ url_for('static', filename='img/profileimg/' + update.author.image_file) }}"
        alt="image"
        class="me-3 rounded-circle media-object-img"
      />
      <!-- Body -->
      <div>
        <h6 class="fw-bold">
          {{ update.author.name }}
          <small class="text-muted"
            >{{ update.date_posted.strftime('%Y-%m-%d') }}</small
          >
        </h6>
        <h5 class="text-muted">{{ update.title }}</h5>
        <p>{{ update.content }}</p>
      </div>
    </div>

    <!-- Media object -->
    {% endfor %}
    <!----- For link to othere pages------>
    {% for page_num in updates.iter_pages() %} {% if page_num %}
    <a
      class="btn btn-outline-info mb-4"
      href="{{ url_for('public.updates', page=page_num) }}"
      aria-label="link for next pages"
      >{{ page_num }}</a
    >

    {% else %} ... {% endif %} {% endfor %}
  </div>
</section>
{% endblock %}
